.bg-dark {
    background-color: rgb(0, 5, 8) !important;
}

.dropdown-item:hover {
    background-color: rgb(0, 5, 8) !important;
}

.input:focus {
    border-color: #DC3545;
    box-shadow: none;
}

/* Logo Size */
.logo {
    width: 150px; /* Set your desired width */
    height: 80px; /* Set your desired height */
    object-fit: cover;
    margin-left: -40px;
}

/* Navbar Width */
.navbar {
    height: 80px !important;
    width: 1200px !important;
}
